<div class="app-container">
  <header>
    <h1>Pixelize</h1>
  </header>

  <main>
    <!-- Color Picker on the left or top, based on your design preference -->
    <div class="container">
      <app-color-picker
        class="picker"
        (colorSelected)="onColorSelected($event)"
      ></app-color-picker>

      <!-- Canvas to draw the pixel art -->
      <app-canvas class="canvas"></app-canvas>
    </div>
  </main>

  <footer>
    <!-- You can add any footer content or leave it out -->
    <p>Created by Joao Costa</p>
  </footer>
</div>
