.app-container {
  font-family: "Arial", sans-serif;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #ffdb4b;
  color: #333;
  font-family: "Pixel", sans-serif;
}

header h1 {
  margin: 0;
  padding: 1rem;
}

main {
  flex: 1;
  width: 100%;
  background-color: #fdeeb4;
  overflow: auto; /* just in case the content is too much, it will scroll */
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

.container {
  position: relative;
}

.container .picker {
  position: absolute;
  left: -130px;
  top: 160px;
}

@media only screen and (max-width: 767px) {
  .container .picker {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(320px + 2rem);
    z-index: 10;
  }
}

footer {
  width: 100%;
  background-color: #f8e081;
  font-family: "Pixel", sans-serif;
  text-align: right;
}
footer p {
  padding: 1rem;
  margin-right: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}
