.canvas-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.canvas {
  width: 320px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-top: 1rem;
}

.row {
  display: flex;
}

.pixel {
  width: 20px; /* You can adjust this based on your preference */
  height: 20px;
  border: 1px solid #ddd;
}

button {
  background-color: transparent;
  border: solid 2px #333;
  border-radius: 25%;
  cursor: pointer;
  font-size: 1.5rem; /* Adjust size as per your need */
  color: #333; /* Adjust color as per your need */
}

button:hover {
  color: #555; /* Darken the icon on hover */
}

select {
  cursor: pointer;
  border-radius: 8px;
  padding-right: 2rem;
  display: flex;
  text-align: left;
  border: solid 2px #333;
}
@media only screen and (max-width: 767px) {
  .button-container {
    margin-top: calc(2rem + 40px);
  }
}
