input {
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 80px;
  margin: 1rem;
  border-radius: 8px;
  border: solid 2px #333;
}
.color-history-item {
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: solid 2px #333;
  border-radius: 25%;
  cursor: pointer;
  font-size: 1.5rem; /* Adjust size as per your need */
  color: #333; /* Adjust color as per your need */
}

button:hover {
  color: #555; /* Darken the icon on hover */
}

button.active {
  color: #847748;
  border: solid 2px #847748;
}
@media only screen and (max-width: 767px) {
  .picker-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  input {
    margin: 0;
  }
}
