<div class="picker-container">
  <!-- Input field with the color picker directive -->
  <input
    [colorPicker]="selectedColor"
    [ngModel]="selectedColor"
    [style.background]="selectedColor"
    (colorPickerChange)="colorChanged($event)"
  />

  <!-- Display for the selected color (Optional as you also have the input field) -->
  <div class="selected-color" [style.background-color]="selectedColor"></div>
  <button
    (click)="activateEraser()"
    title="Eraser"
    [ngClass]="{ active: isEraserActive }"
  >
    <i class="fa fa-eraser" aria-hidden="true"></i>
  </button>
</div>
