/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

body {
  margin: 0;
}

@font-face {
  font-family: "Pixel"; /* You can give any name here for reference */
  src: url("/assets/fonts/Pixel.TTF") format("truetype"); /* Adjust path if needed */
  font-weight: normal;
  font-style: normal;
}
